.vx-bar {
    transition: height 150ms, y 150ms;
}

.vx-label {
    font-size: 2em;
    font-weight: 700;
}

.vx-tick-label {
    font-size: 11;
    text-anchor: middle;
}

.black {
    fill: rgb(51, 51, 51);
}
.green {
    fill: green;
}

.white {
    fill: white;
}

.aqua {
    fill: aquamarine;
}   

.purple {
    fill: #a44afe;
}   


.hot {
    fill:rgb(170, 87, 31);
}